@model ToDoList.Models.ListComeModel
@using ToDoList

@{
    ViewData["Title"] = "index";
    Layout = "_Layout1";


}
@section CssAndScript1 {
<link href="~/css/come.css" rel="stylesheet" />
<link href="~/css/today.css" rel="stylesheet" />
<link href="~/jquery/jquery-ui.css" rel="stylesheet" />

<script src="~/jquery/jquery.js"></script>
<script src="~/jquery/jquery-ui.js"></script>
}

<div class="come">
    <form action="ListCome" method="get" id="form1">
        <div id="dpcontainer" class="ui-widget">

            <input id="datep" type="hidden" name="dateString" />
            <div id="monthDate">
                @Model.MonthDate<div id="monthImg">
                    <svg width="24" height="25" xmlns="http://www.w3.org/2000/svg" stroke="null">
                        <g id="Layer_1">
                            <title>Layer 1</title>
                            <path transform="rotate(89.4146 11.753 15.2635)" stroke="#000" id="svg_1" d="m12.16699,15.26348l-2.42499,-4.5l1.59705,0l2.42499,4.5l-2.42499,4.5l-1.59705,0l2.42499,-4.5z" fill="#4c4c4c" />
                        </g>

                    </svg>
                </div>
            </div>
        </div>
    </form>

    <div class="DaysHolder">

        @foreach (var d in Model.Days)
        {

            <div class="days">  <a class="daysA" href="@d.Link">@d.Text</a></div>
        }
    </div>
    <div class="linee"></div>
</div>

@foreach (var entry in Model.Tasks.OrderBy(z => z.Key.Date))
{<div class="come">
    <div>@entry.Key.Text </div>
    <div>
        @foreach (var task in entry.Value)
        {
             
            <form method="post" action="/List/CloseTask">
                <input type="hidden" name="ActionName" value="@this.Context.Request.RouteValues["Action"]" />
                <input type="hidden" name="id" value="@task.Id" />
                <div class="lineFlex">
                    <div class="clickk">

                        <svg width="25" height="25" xmlns="http://www.w3.org/2000/svg" stroke="null">
                     
                            <g stroke="null" class="checkg">
                                <ellipse class="CloseButtonColor" stroke="#4c4c4c" fill="#000000" cx="12.60001" cy="12.36" id="svg_17" rx="11.5" ry="11.5" fill-opacity="1" />
                                <path class="markk" stroke="#FFFFFF" id="svg_18" d="m7.1014,13.16408l0.96707,-1.52355l2.64927,4.17174l4.41625,-6.95289l0.96741,1.52248l-5.38366,8.47752" fill="#666666" />
                            </g>
                           
                        </svg>
                        
                    </div>

                    <div class="taskEach">@task.Taskk</div>

                    <div><img class="clickDel" src=~/Pictures/del.png></div>
                </div>
               
                <div class="line"></div>
                
            </form>
            
        }
    </div>
      
         <div>
        <partial name="_AddTask" model="@entry.Key.Date" />
         </div>
  
</div>
}









<script type="text/javascript">
    $(() => {

        $.datepicker.setDefaults($.datepicker.regional['ru']);
        $('#datep').datepicker({

            changeMonth: true,
            changeYear: true,
            yearRange: ":+5",
            minDate: "0",
            constrainInput: true,
        }).datepicker("setDate", "@Model.Date");

        $("#datep").change(() => {
            $("#form1").submit();
        });

        $("#monthDate").click((e) => {
            $('#datep').datepicker("show");
        });

     
        $(".disFlex2").click((e) => {
            $(".disFlex2",$(e.target).parents(".addParent")).css("display","none");
            $(".boxInput",$(e.target).parents(".addParent")).css("display","block");
        });

   
        $("#btn2").click((e) => {
            $(".disFlex2",e.target.parentElement).css("display","flex");
            $(".boxInput",e.target.parentElement).css("display","none");
        });



         $(".checkg").mouseenter((e) => {
            $(".CloseButtonColor", e.target.parentElement).css("fill", "#cbced4");
            $(".markk", e.target.parentElement).css("fill", "#696b6e");
            $(".markk", e.target.parentElement).css("stroke", "#696b6e");
        });

        $(".checkg").mouseleave((e) => {
            $(".CloseButtonColor", e.target.parentElement).css("fill", "white");
            $(".markk", e.target.parentElement).css("fill", "white");
            $(".markk", e.target.parentElement).css("stroke", "white");
        });
                $(".disFlex2").mouseenter((e) => {
               $("#plus",e.target.parentElement).addClass("plusC");
               $("#task",e.target.parentElement).addClass("taskC");
        });

        $(".disFlex2").mouseleave((e) => {
               $("#plus",e.target.parentElement).removeClass("plusC");
               $("#task",e.target.parentElement).removeClass("taskC");
        });

        $(".clickk").click((e) => {
            $(e.target).parents("form").attr("action", "@Url.Action("CloseTask", "List")");
            $(e.target).parents("form").submit();
        });

        $(".clickDel").click((e)=>{

                 $(e.target).parents("form").attr("action", "@Url.Action("DeleteTask", "List")");
                 $(e.target).parents("form").submit();
        });
        });
    
       

   
</script>


