@model ToDoList.Models.ListComeModel
@using ToDoList

@{
    ViewData["Title"] = "index";
    Layout = "_Layout1";


}
@section CssAndScript1 {
<link href="~/css/come.css" rel="stylesheet" />
<link href="~/css/task.css" rel="stylesheet" />
<link href="~/jquery/jquery-ui.css" rel="stylesheet" />

<script src="~/jquery/jquery.js"></script>
<script src="~/jquery/jquery-ui.js"></script>
}

<div class="rightSide">
    <form action="ListCome" method="get" id="form1">
        <div id="dpcontainer" class="ui-widget">

            <input id="datep" type="hidden" name="dateString" />
            <div id="monthDate">
                @Model.MonthDate<div id="monthImg">
                    <svg width="24" height="25" xmlns="http://www.w3.org/2000/svg" stroke="null">
                        <g id="Layer_1">
                            <title>Layer 1</title>
                            <path transform="rotate(89.4146 11.753 15.2635)" stroke="#000" id="svg_1" d="m12.16699,15.26348l-2.42499,-4.5l1.59705,0l2.42499,4.5l-2.42499,4.5l-1.59705,0l2.42499,-4.5z" fill="#4c4c4c" />
                        </g>

                    </svg>
                </div>
            </div>
        </div>
    </form>

    <div class="DaysHolder">

        @foreach (var d in Model.Days)
        {

            <div class="days">
                <a class="daysA mon" href="@Model.DayToURI(Url,d)">
                    @Model.DateToDayName(d)
                </a><a class="daysA" href="@Model.DayToURI(Url,d)">
                    @Model.DateToMonthDate(d)
                </a>
            </div>
        }
    </div>
   
    @foreach (var entry in Model.Tasks.OrderBy(z => z.Key.Date))
    {
        <div class="come">
            <div class="dayToList">@Model.DateForList(entry.Key) </div>
            <div class="line"></div>

            @foreach (var task in entry.Value)
            {
                <div><partial name="_task" model="@task" /> </div>
            }


            <div>
                <partial name="_AddTask" model="@entry.Key.Date" />
            </div>

        </div>
    }
    <div class="linee"></div>
 
</div>











<script type="text/javascript">
    $(() => {

        $.datepicker.setDefaults($.datepicker.regional['ru']);
        $('#datep').datepicker({
             range: 'period',
            changeMonth: true,
            changeYear: true,
            yearRange: ":+5",
            minDate: "0",
            constrainInput: true,

        }).datepicker("setDate", "@Model.Date");

        $("#datep").change(() => {
            $("#form1").submit();
        });

        $("#monthDate").click((e) => {
            $('#datep').datepicker("show");
        });


        $(".disFlex2").click((e) => {
            $(".disFlex2",$(e.target).parents(".addParent")).css("display","none");
            $(".boxInput",$(e.target).parents(".addParent")).css("display","block");
        });


        $("#btn2").click((e) => {
            $(".disFlex2",e.target.parentElement).css("display","flex");
            $(".boxInput",e.target.parentElement).css("display","none");
        });



         $(".checkg").mouseenter((e) => {
            $(".CloseButtonColor", e.target.parentElement).css("fill", "#cbced4");
            $(".markk", e.target.parentElement).css("fill", "#696b6e");
            $(".markk", e.target.parentElement).css("stroke", "#696b6e");
        });

        $(".checkg").mouseleave((e) => {
            $(".CloseButtonColor", e.target.parentElement).css("fill", "white");
            $(".markk", e.target.parentElement).css("fill", "white");
            $(".markk", e.target.parentElement).css("stroke", "white");
        });
                $(".disFlex2").mouseenter((e) => {
               $("#plus",e.target.parentElement).addClass("plusC");
               $("#task",e.target.parentElement).addClass("taskC");
        });

        $(".disFlex2").mouseleave((e) => {
               $("#plus",e.target.parentElement).removeClass("plusC");
               $("#task",e.target.parentElement).removeClass("taskC");
        });

        $(".clickk").click((e) => {
            $(e.target).parents("form").attr("action", "@Url.Action("CloseTask", "List")");
            $(e.target).parents("form").submit();
        });

        $(".clickDel").click((e)=>{

                 $(e.target).parents("form").attr("action", "@Url.Action("DeleteTask", "List")");
                 $(e.target).parents("form").submit();
        });

       $(".saveTask").click((e)=>{
                 $(e.target).parents("form").attr("action", "@Url.Action("ChangeTask", "List")");
                 $(e.target).parents("form").submit();
            e.preventDefault();
        });

          $(".clickChange").click((e)=>{
            $(".taskdisplayreadonly",$(e.target).parents(".taskEach")).css("display","none");
            $(".taskEdit",$(e.target).parents(".taskEach")).css("display","block");
        });

        $(".cancelTask").click((e)=>{
             $(".taskdisplayreadonly",$(e.target).parents(".taskEach")).css("display","flex");
            $(".taskEdit",$(e.target).parents(".taskEach")).css("display","none");
            e.preventDefault();

        });


    });




</script>


