@using ToDoList
@model List<UserTask>
@{
    ViewData["Title"] = "index";
    Layout = "_Layout1";


}
@section CssAndScript1 {
<link href="~/css/today.css" rel="stylesheet" />
<link href="~/css/task.css" rel="stylesheet" />
<link href="~/jquery/jquery-ui.css" rel="stylesheet" />

<script src="~/jquery/jquery.js"></script>
<script src="~/jquery/jquery-ui.js"></script>
}




<div class="rightSide">
    <div class="disFlex1"><div id="today">Today </div><div id="dateToday">@DateTime.Now.ToString("ddd d MMM  ", System.Globalization.CultureInfo.GetCultureInfoByIetfLanguageTag("en-us"))</div></div>


    @foreach (var task in Model)
    {
      
        <div><partial name="_task" model="@task" /> </div>
    }

    <partial name="_AddTask" model="@DateTime.Now.Date" />


</div>


<script>
    $(() => {
       $(".disFlex2").click((e) => {
            $(".disFlex2",$(e.target).parents(".addParent")).css("display","none");
            $(".boxInput",$(e.target).parents(".addParent")).css("display","block");
        });


        $("#btn2").click((e) => {
            $(".disFlex2",$(e.target).parents(".addParent")).css("display","flex");
            $(".boxInput",$(e.target).parents(".addParent")).css("display","none");
            e.preventDefault(); 
        });



         $(".checkg").mouseenter((e) => {
            $(".CloseButtonColor", e.target.parentElement).css("fill", "#cbced4");
            $(".markk", e.target.parentElement).css("fill", "#696b6e");
            $(".markk", e.target.parentElement).css("stroke", "#696b6e");
        });

        $(".checkg").mouseleave((e) => {
            $(".CloseButtonColor", e.target.parentElement).css("fill", "white");
            $(".markk", e.target.parentElement).css("fill", "white");
            $(".markk", e.target.parentElement).css("stroke", "white");
        });
                $(".disFlex2").mouseenter((e) => {
               $("#plus",e.target.parentElement).addClass("plusC");
               $("#task",e.target.parentElement).addClass("taskC");
        });

        $(".disFlex2").mouseleave((e) => {
               $("#plus",e.target.parentElement).removeClass("plusC");
               $("#task",e.target.parentElement).removeClass("taskC");
        });

        $(".clickk").click((e) => {
            $(e.target).parents("form").attr("action", "@Url.Action("CloseTask", "List")");
            $(e.target).parents("form").submit();
        });

        $(".clickDel").click((e)=>{

                 $(e.target).parents("form").attr("action", "@Url.Action("DeleteTask", "List")");
                 $(e.target).parents("form").submit();
        });
 
        $(".saveTask").click((e)=>{
                 $(e.target).parents("form").attr("action", "@Url.Action("ChangeTask", "List")");
                 $(e.target).parents("form").submit();
            e.preventDefault();
        });

          $(".clickChange").click((e)=>{
            $(".taskdisplayreadonly",$(e.target).parents(".taskEach")).css("display","none");
            $(".taskEdit",$(e.target).parents(".taskEach")).css("display","block");
        });

        $(".cancelTask").click((e)=>{
             $(".taskdisplayreadonly",$(e.target).parents(".taskEach")).css("display","block");
            $(".taskEdit",$(e.target).parents(".taskEach")).css("display","none");
            e.preventDefault();

        });


    });
</script>
